*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
    color:black;
    font-family: 'Courier Prime';
    font-size: 16px;
    line-height: 1.6em;
    margin: 5%;
}

.header{
    background-color: #333;
    padding: 1rem;
}

.headerh1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    font-style: normal;
    color: bisque;
}

.nav{
    color: black;
    text-align: right;
}

.bgimage{
    background-image: url("../images/bgimage.jpeg");
    background-position: center;
    min-height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.main{
    float: left;
    width:30%;
    padding: 30px;
    box-sizing: border-box;
    padding-bottom: 60px;
    border-style: double;
    border-color: burlywood;
    margin-bottom: 30px;
}

.pintroaside{
    float: right;
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
    padding-bottom: 60px;
    border-style: dotted;
    border-color: burlywood;
}
.emptyspace{
    background-color: rgb(219, 177, 115);
    margin: 5%;
    float: left;
    width: 80%;
    text-align: center;
    padding: 30px;
    
}
.tropdestheading{
    float: left;
    width: 100%;
    text-align: center;

}
.tropdest{
    float:center;
    width: 100%;
    text-align: center;
    list-style: none;
}

.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
}
 
.pfooter{
    text-align: center;

}

a{
    color: greenyellow;
}
a:hover{
    color:forestgreen;

}